.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-left: calc((8 / 1920) * 100%);
  margin-right: calc((112 / 1920) * 100%);
  border: 1px solid red;
}
