.popupContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.content {
  align-items: flex-start;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #000;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 330px;
  min-width: 430px;
}
