.popupContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: auto;
  padding: 20px;
  background-color: #1c1c21;

  z-index: 30;

  width: 720px;
}

.headerCloseWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid red;
}

.testPopup {
  display: flex;
  position: fixed;
  overflow: auto;

  width: 100%;
  height: 100%;
  background-color: rgba(1, 0, 0, 0.5);

  top: 0;
  left: 0;

  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;

  justify-content: center;
  align-items: center;

  border: 1px solid red;

  z-index: 20;
}

/* .content {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 5px 5px #000;
  color: #000;

  min-width: 720px;
  min-height: 718px;
} */

.close {
  background-color: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="18" height="18"><path fill="%23FFFFFF" d="M32 28.8L19.2 16L32 3.2L28.8 0L16 12.8L3.2 0L0 3.2L12.8 16L0 28.8L3.2 32L16 19.2L28.8 32L32 28.8Z"/></svg>');
  border: none;

  position: absolute;
  right: 40px;
  top: 60px;
  height: 18px;
  width: 18px;

  object-fit: cover;
}
