.scrollContainer {
  overflow-y: scroll;
  height: 1000px;
  border: 1px solid red;
}

.container {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, 272px);
  row-gap: 24px;
  column-gap: 24px;
  justify-content: center;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131316;
  outline: 1px solid yellowgreen;
}

.priceIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 9px;
}

/* .custom-scroll::-webkit-scrollbar {
  width: 12px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
} */

/* .close {
  background-color: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="18" height="18"><path fill="%23FFFFFF" d="M32 28.8L19.2 16L32 3.2L28.8 0L16 12.8L3.2 0L0 3.2L12.8 16L0 28.8L3.2 32L16 19.2L28.8 32L32 28.8Z"/></svg>');
  border: none;

  position: absolute;
  right: 40px;
  top: 60px;
  height: 18px;
  width: 18px;

  object-fit: cover;
} */
