.box {
  /* max-width: 1280px; */
  margin: 0 auto;

  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border: 1px solid red;
}
