.box {
  max-width: 1240px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topBox {
  min-height: 100vh;
}

.modalContaner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalIngredientsDetailsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mIProductDesriptionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
