.box {
  max-width: 1240px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.topBox {
  height: 100vh;
  outline: 1px solid yellowgreen;
}

.modalContaner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
