.box {
  max-width: 1240px;

  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.modalContaner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid yellowgreen;
}
